<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_for_main_page.css')}}">
    <title>U|BLOG | Main Page</title>
</head>
<body>
    <section class="Full_Page">
        <header class="Header">
            <section class="Text_Header">
                <h2>U|BLOG</h2>
            </section>
            <nav class="Nav">
                <a href="{{ url_for('sign_in') }}">ВЫЙТИ</a>
            </nav>
        </header>

        <section class="Center">
            <main class="Main">
                <aside class="Aside">
                    <picture class="Main_photo">
                            <img class="User_photo" src="{{ url_for('static', filename=user_photo) }}" alt="profile image">
                    </picture>
                    <form class="Image_form" method="post" action="/change_image" enctype="multipart/form-data">
                        <input type="file" name="image">
                        <button class="Add_photo" type="submit">ОБНОВИТЬ ФОТОГРАФИЮ</button>
                    </form>
<!--                    <form class="Image_form" method="get" action="/change_image">-->
<!--                        <picture class="Main_photo">-->
<!--                            <img class="User_photo" src="{{ url_for('static', filename='images/sena.jpg') }}" alt="profile image">-->
<!--                        </picture>-->
<!--                    <button class="Add_photo"> ДОБАВИТЬ ФОТОГРАФИЮ</button>-->
<!--                    </form>-->
                </aside>
                <main class="Right_side">
                    <header class="Username" >{{ username }}</header>
                    <form class="Posts_form" method="post" action="/post_message">
                        <input class="Text" type="text" name="text" placeholder="text message...">
                        <button class="Button_send" type="submit">SEND</button>
                    </form>
                    <section class="Posts_Block">
                        <header class="Header_post">POSTS</header>
                        <section class="Posts">
                            <ul style="list-style-type:none">
                            {% for message in messages | reverse %}
                            <li>
                                {{ message|safe }}
                            </li>
                            {% endfor %}
                        </ul>
                        </section>
                    </section>
                </main>
            </main>
        </section>
    </section>
</body>
</html>