<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U|BLOG | Main Page</title>
</head>
<body>
    <main>
        <form class="posts_form" method="post" action="/post_message">
            <input type="text" name="text" placeholder="type text...">
            <button type="submit">SEND</button>
        </form>

        <section>
            <h2>POSTS</h2>
            <ul style="list-style-type:none">
                {% for message in messages | reverse %}
                <li>
                    {{ message.text }}
                </li>
        {% endfor %}
    </ul>
</section>
    </main>

</body>
</html>